.add-product {
    display: flex;
    flex-direction: column;
    margin: 3% auto 0 auto;
    width: 40%;
}

.add-product div {
    margin-top: 10px;
}

.add-product label {
    color: gray;
    font-weight: bold;
    font-size: 15px;
}

.add-product input,
.add-product textarea {
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 32px;
    padding: 7px;
    margin-top: 5px;
}

.add-product select {
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 7px;
    margin-top: 5px;
    height: 32px;
}

.btn_add_product {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    font-size: 15px;

}

.file input {
    border: none;
    padding-left: 0;
}