.products_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 7% 30px;
    margin-top: 2%;
}

.home-content {
    display: flex;
    flex-direction: column;
    padding: 1% 3% 7% 4%;
    margin-left: 80px;
}

.search_container input {
    width: 260px;
    padding-left: 30px;
    margin-top: 20px;

}

.search_container svg {
    position: relative;
    right: 250px;
    top: 3.5px;
    color: gray;
}

.empty_products {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: gray;
}