.product_details_form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 50px 0 0 80px;
}

.product_details_form .image_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_details_form .image_container img {
    width: 60px;
}

.product_details_form .main_product_details {
    width: 40%;
}

.product_details_form .main_product_details .flex_box_column {
    margin-top: 15px;
}

.product_details_form .main_product_details select {
    height: auto;
    padding-left: 3px;
}

.product_details_form .main_product_details textarea {
    margin-top: 5px;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 7px;
}


.product_details_form .model_details {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 30%
}

.product_details_form .model_details>input {
    height: fit-content;
    background-color: white;
}

.product_details_form .model_details .flex {
    justify-content: space-between;
}

.product_details_form .model_details .flex_box_column {
    width: auto;
}

.product_details_form .model_details .flex_box_column input {
    width: 120px;
    text-align: center;
}

.product_details_form .model_details .flex_box_column label {
    text-align: center;
}



.model_details>label {
    margin-top: 15px;
    margin-bottom: 7px;
}