.profile_form {
    display: flex;
    flex-direction: column;
    margin: 2.5% auto 0 auto;
    width: 40%;
}

.profile_form h4 {
    margin-top: 15px;
}

.profile_form .flex>:nth-child(2) {
    margin-left: 10px;
}


.profile_form>.flex_box_column,
.profile_form .flex {
    justify-content: space-between;
    margin-top: 15px;
}