.sign_in {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding: 10%;
}

.sign_in .intro_text {
    padding-top: 5%;
}

.sign_in .intro_text a {
    color: var(--primaryColor);
    font-weight: bold;
    text-decoration: none;
}

.sign_in img {
    width: 600px;
    height: 600px;
    position: absolute;
    transform: rotate(-30deg);
    right: 33%;
    bottom: 10%;
}

.sign_in_container {
    display: flex;
    flex-direction: column;
    height: 240px;
    width: 300px;
    justify-content: space-between;
    padding-top: 6%;
}

.sign_in_container input {
    background-color: var(--inputBackgroundColor);
    border: none;
    outline-color: var(--primaryColor);
    padding: 12px;
    border-radius: 5px;
}

.sign_in_container input::placeholder {
    color: #4F555A;
}
