.sign_up {
    display: flex;
}

.cart_image {
    height: 100vh;
}

.sign_up_container {
    padding: 5% 10% 0 10%;
    width: 100%;
}

.icon_container {
    display: flex;
}

.icon_container h3 {
    margin: 15px 0 0 5px;
}

.bags_icon {
    width: 40px;
}

.create_account {
    margin-top: 50px;
}

.create_account+p {
    font-size: 13px;
    font-style: italic;
}

.sign_up_form {
    display: grid;
    margin-top: 60px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 30px;
}

.sign_up_form input,
.sign_up_form select {
    border-color: #D1D1D1;
    border-style: solid;
    border-radius: 5px;
    outline-color: var(--primaryColor);
    padding: 12px;
    margin-top: 5px;

}

.sign_up_form select {
    border-width: 2px;
}

.sign_up_form label {
    display: flex;
    color: #2D3748;
    flex-direction: column;
    font-size: 13px;
}

.already_have_an_account {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

.already_have_an_account a {
    color: var(--primaryColor);
    text-decoration: none;
    font-weight: bold;
}