.orders-table {
    padding-right: 5%;

}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid lightgray;
    border-radius: 10px;
    border-spacing: 0;
    box-shadow: 0 0 0 1px lightgray;
    border-style: hidden;
    overflow: hidden;
}

td {
    color: black;
    padding: 10px;

}

tr {
    border-bottom: 1px solid lightgray;
    font-size: 14px;
}

thead {
    background-color: #F9FBFC;
    border: none;

}

th {
    font-weight: bold;
    padding: 10px;
    text-align: left;
    color: #767D89;

}

.view-cell {
    font-weight: bold;
    color: #767D89;
}

.view-cell:hover {
    color: var(--primaryColor);
    cursor: pointer;
}

.orders-table a {
    text-decoration: none;
}