.pagination {
    display: flex;
    justify-content: space-around;
    width: 88%;
    position: absolute;
    bottom: 7%;
    font-weight: bold;
}

.pagination .nav-container {
    display: flex;
    align-items: center;
    color: #757C87;
}

.pagination .nav-container:hover {
    cursor: pointer;
}


.pagination button {
    border: none;
    border-radius: 5px;
    color: #757C87;
    padding: 8px 14px 8px 14px;
}

.active-pg {
    background-color: #dddcdc;
}

.not-active-pg {
    background-color: transparent;
}