.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    background-color: white;
    padding: 20px;
}

.icons_container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: 25%;
    justify-content: space-between;
    align-self: center;
}

.logout_icon {
    align-self: center;
    margin-top: 22em;
}

.sidebar svg:hover {
    cursor: pointer;
}