* {
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;

}

body {
  background-color: var(--backgroundColor);
  margin: 0;
}

:root {
  --backgroundColor: #F6F6F6;
  --inputBackgroundColor: #EAF0F7;
  --primaryColor: #4461F2;
}