* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

body {
  background-color: var(--backgroundColor);
  margin: 0;
}

.default_button {
  background-color: var(--primaryColor);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.default_button:hover {
  cursor: pointer;
}

:root {
  --backgroundColor: #F7F6F9;
  --inputBackgroundColor: #EAF0F7;
  --primaryColor: #4461F2;
}